*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body
{
  max-width: 100vw;
  background-color: #ffffff;
  /*font-family: -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', HelveticaNeue, sans-serif;
}

a
{
  color: inherit;
  text-decoration: none;
}

.App
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main
{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  gap: 20px;
  z-index: 5;
}

.background-cloud svg
{
  color: #e9e9e942;
  position: fixed;
  height: 80%;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.hidden
{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}