.content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container
{
    margin: 25px 0px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}