.header
{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 56px rgb(0 0 0 / 12%);
    width: 100%;
    z-index: 100;
}

.container
{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.logo
{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 15px;
    border: 1px solid #000000cc;
    border-bottom: 0;
    border-top: 0;
    color: #000000cc;
}

.buttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left_section
{
    color: #000000cc;
    display: flex;
    align-items: center;
}

.left_section > *
{
    padding: 20px;
    transition: all .1s;
}

.left_section > *:hover
{
    color: black;
    background: #0000000d;
}

.right_section
{
    display: flex;
    align-items: center;
}

.right_section > *
{
    color: #336fee;
    padding: 20px;
    transition: all .1s;
}

.right_section > *:hover
{
    background: #336eee0b;
}
